
header {
    text-align: center;
    background-color: #0e0101;
    color: white;
    padding: 20px;
}

#about {
    text-align: center;
    padding: 20px;
}

img {
    max-width: 100%;
}

#skills {
    text-align: center;
    padding: 20px;
}

#projects {
    text-align: center;
    padding: 20px;
}

.project {
    margin: 20px;
    padding: 10px;
    border: 1px solid #e91717;
    border-radius: 5px;
}

#resume {
    text-align: center;
    padding: 20px;
}

#contact {
    text-align: center;
    padding: 20px;
}

footer {
    text-align: center;
    background-color: #e41414;
    color: white;
    padding: 10px;
}


header {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 20px;
}

#about {
    text-align: center;
    padding: 20px;
}

img {
    max-width: 100%;
}

#skills {
    text-align: start;
    padding: 20px;
}

#projects {
    text-align: center;
    padding: 20px;
}

.project {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#resume {
    text-align: center;
    padding: 20px;
}

#contact {
    text-align: center;
    padding: 20px;
}

footer {
    text-align: center;
    background-color: #000000;
    color: white;
    padding: 10px;
}


a {
    color: #007BFF;
    text-decoration: none;
}

button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
body {
    background-color: lightblue;
}

#profile-image {
    max-width: 200px;
    height: auto;
}

